*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mr-1{
    margin-bottom: 2.2rem;
}
.justify{
    text-align: justify;
}
.space{
    word-spacing: 2px;
}
.line-height{
    line-height: 2.5rem;
}
.font-clr{
    color: #515151;
}
.circle-clr{
    background-color: #FB004B;
    border-radius: 50%;
}
.price-font-clr{
    color: #bbbaba;
}
.font-color{
    color: #e78C8C;
}
.text-black{
    color: black;
}
.home-price-clr{
    color: #5F5F5F;
}
.bg-book{
    background-color: #ececec;
}