$font-cinzel: 'Cinzel', serif;
$font-varila:'Varela', sans-serif;
$clr-tranparaent:rgba(255, 255, 255, 0.8);
$button-red: #e30f0f;
$clr-white:white;
$clr-black:black;
$font-clr:#515151;
$about-bg2:#EBE2DB;
$about-bg1:#ececec;
$circle-clr:#FB004B;
$price-font-clr:#bbbaba;
$contact-font-clr: #454343;
$about-color:#515151;